<section class="bg-[url('assets/banner/desaparecidos.png')] bg-cover">
    <div class="flex items-center justify-between w-full max-w-[1200px] 2xl:max-w-[1440px] mx-auto">
        <app-pessoas-search class="p-6"></app-pessoas-search>
        <div class="flex gap-12 text-white pr-32">
            <span class="uppercase text-xl font-bold">desaparecidos</span>
            <span class="uppercase text-xl font-bold">localizados</span>
        </div>
    </div>
</section>

<section class="bg-gray-100 h-full">
    <div class="w-full max-w-[1200px] 2xl:max-w-[1440px] mx-auto p-8">
        <h1 class="text-center text-blue-950">Listagem de Desaparecidos</h1>
    </div>
</section>
